{% extends 'basic.html' %}
{% block body %}

<h1 class = "container" >Contact please </h1>
<div class = "container">

    <form method = "post">
    {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your name" name= "name">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlInput1">Phone</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your phone" name= "phone">
          </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Details</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "content"></textarea>
        </div>
        
        <button type="SUbmit">Submit</button>

      </form>

</div>

{% endblock body %}